blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre{
    @apply mb-1;
}

h1, .h1 {
    @apply mt-3 mb-1 text-h1 leading-3;
}
h2, .h2{
    @apply mt-2 mb-1/2 text-h2 leading-2;
}
h3, .h3 {
    @apply mt-2 mb-1/2 text-h3 leading-2;
}
h4, .h4{
    @apply mt-1 mb-0 text-h4 leading-1;
}
h5, .h5{
    @apply mt-1 mb-0 text-xl leading-1;
}
h6, .h6{
    @apply mt-1 mb-0 text-lg leading-1;
}

ul, ol {
    @apply pl-0 mb-2;
    list-style-position: outside;
}
li {
    @apply list-reset;
}

a {
    @apply no-underline cursor-pointer outline-none text-black border-b;
}
a:hover {
    @apply bg-green;
}
a:active {
    /* @apply bg-yellow; */
}
a:visited {
    /* @apply bg-red; */
}
/* Sets so the footer stay always on the bottom. */
main {
    @apply flex-1;
}
video,
img {
    @apply outline-none;
    @apply w-full;
}
@screen m {
    video,
    img {
        @apply w-auto;
    }
}
