/* Add container responsive version. */
@screen m {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .m\:container {
        max-width: config('screens.m');
        margin-right: auto;
        margin-left: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@screen l {
    .m\:container {
        max-width: config('screens.l');
    }
    .l\:container {
        max-width: config('screens.l');
        margin-right: auto;
        margin-left: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

