.btn {
    /* @apply no-underline pt-1/2 px-2 shadow; */
    @apply no-underline shadow;
    padding: 0.5em 2em 0.49em;
    transition: all 0.2s ease 0s;
}
.btn-black {
    @apply text-white bg-black border-2 border-transparent;
    fill: config('colors.white');
}
.btn-black:hover,
.btn-black:active {
    @apply text-black bg-white border-2 border-black;
    fill: config('colors.black');
}

.btn-underline {
    @apply text-black bg-white border-2 border-black;
    fill: config('colors.black');
}
.btn-underline:hover,
.btn-underline:active {
    @apply underline;
}

.tooltip {
    @apply cursor-pointer relative;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 15rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 105%;
  bottom: 105%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
