---
layout: base.njk
title: Tailwind CSS Cheatsheet!
---
<main class="container">
    <section class="mx-auto max-w-md">
        <h1 class="h1">{{ title }}</h1>
        <!-- <h2 class="h2">Sections</h2> -->

        <div class="">
            <input type="checkbox" value="selected" id="show-all" class="toggle-all-input hidden">
            <label for="show-all" class="toggle-all-label pointer">Show All</label>
            {% for sec,obj  in tailwind.cheatsheet %}

                <div class="toggle-all-content">
                    <input type="checkbox" value="selected" id="show-{{sec}}" class="toggle-input hidden">
                    <label for="show-{{sec}}" class="toggle-label pointer">
                        <h3 class="h3"> {{sec}} </h3>
                    </label>

                    <div role="toggle" class="toggle-content">
                        {% for name,obj2 in obj %}
                            {% if obj2.isAllowed %}
                                <h4 class="h4" id="{{name}}"> {{name}}
                                    {% for variant in obj2.variant %}
                                        {% for n,v  in tailwind.variants %}
                                            {% if n == variant %}
                                                <small class="text-red-700">{{v}}</small>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </h4>
                                <ul class="ul">
                                    {% for item  in obj2.value %}
                                        {% for attr, code  in item %}
                                            <li class="li">
                                                <div class="tooltip group">
                                                    <!-- <span class="tooltiptext w-auto truncate group-hover:visible">{{code | newline | safe }}</span> -->
                                                    {{attr}}
                                                    <small class="ml-2">{{code}}</small>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <!-- TODO -->
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}

        </div>

        <!-- <div class="text"> -->
        <!--     {{ tailwind.theme | json}} -->
        <!-- </div> -->
        <!-- <div class="text"> -->
        <!--     {{ tailwind.variants }} -->
        <!-- </div> -->
        <!-- <div class="text"> -->
        <!--     {{ tailwind.prefix }} -->
        <!-- </div> -->
        <!-- <div class="text"> -->
        <!--     {{ tailwind.important }} -->
        <!-- </div> -->
        <!-- <div class="text"> -->
        <!--     {{ tailwind.separator }} -->
        <!-- </div> -->
        <!-- <div class="text"> -->
        <!--     {{ tailwind.corePlugins }} -->
        <!-- </div> -->
        <!-- <div class="text"> -->
        <!--     {{ tailwind.plugins }} -->
        <!-- </div> -->


        <!-- <div class="text"> -->
        <!--     {% for name, value in tailwind.theme %} -->
        <!--     <span class="block">{{name}}: {{value}};</span> -->
        <!--     {% endfor %} -->
        <!-- </div> -->

        <!-- <div class="text"> -->
        <!--     <p> -->
        <!--         Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl. -->
        <!--     </p> -->
        <!--     <p> -->
        <!--         Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl. -->
        <!--     </p> -->
        <!-- </div> -->

    </section>
</main>
